:root {
  --color-dark: #37393D;
  /*rgba(55, 57, 61, 0.85) */
  --color-main: #E9A685;
  /*rgba(233,166,133, 0.85)*/
  --color-light: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;

}

.container {
  display: grid;
  grid-template-rows: 100vh repeat(4, min-content);
  grid-template-columns: [full-start] repeat(8, [col-start] minmax(min-content, 14rem)[col-end]) [full-end];
}

.header {
  background-color: var(--color-dark);
  background-image: url(../images/header-img.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  grid-column: full-start /full-end;
  position: relative;
  width: 100vw;
}

.heading-border-box-1 {
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 40%;
  border: 5px solid var(--color-main);
  transform: translate(-50%, -50%);
  animation: fadeIn 2s ease-in;
}

.heading-border-box-2 {
  background-color: transparent;
  position: absolute;
  top: 55%;
  left: 52.5%;
  width: 60%;
  height: 40%;
  border: 5px solid var(--color-light);
  transform: translate(-50%, -50%);
  animation: fadeIn 2s ease-in;
}

.heading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  /* padding: 5rem; */
  text-align: right;
  transform: translate(-50%, -50%);
}

.heading-primary {
  /*to prevent shakiness when animating heading */
  backface-visibility: hidden;
  font-family: 'Montserrat Alternates', sans-serif;
}

.heading-primary-main {
  color: var(--color-main);
  display: block;
  font-size: 4rem;
  font-weight: 600;
  white-space: nowrap;
  /* letter-spacing: 2.8rem; */
  animation: moveInLeft 1.5s ease-out;
}

.heading-primary-sub {
  color: var(--color-light);
  display: block;
  font-size: 2rem;
  animation: moveInRight 1.5s ease-out;
}

.sub-heading-section {
  background-color: var(--color-main);
  color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: full-start / col-end 3;
}

.main-theme {
  background-color: var(--color-main);
  color: var(--color-light);
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: [full-start] repeat(8, [col-start] minmax(min-content, 14rem)[col-end]) [full-end];
}

.heading-secondary {
  border: 2px solid;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  position: relative;
  padding: 2rem;
  margin: 2rem;
}

.heading-secondary::before {
  background: transparent;
  border: 2px solid;
  content: "";
  width: 100%;
  height: 100%;
  top: 1rem;
  left: 1rem;
  position: absolute;
}

.border-color-dark::before {
  border-color: var(--color-dark);
}

.border-color-main::before {
  border-color: var(--color-main);
}

.content-section {
  background-color: var(--color-main);
  color: var(--color-light);
  grid-column: col-start 4 / full-end;
  padding: 3rem;
}

.content-section p {
  margin-bottom: 1.5rem;
}

.projects {
  background-color: var(--color-white);
  color: var(--color-dark);
  /* grid-column: col-start 2/ col-end 7; */
  grid-column: full-start / full-end;
}

.projects-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.projects-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); */
  grid-template-columns: repeat(auto-fit,400px);
  grid-gap: 2rem;
  justify-content: center;
  align-content: center;
}

.projects-github{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.projects-github p{
  padding: 1.5rem;
}

.project {
  position: relative;
  text-align: center;
  /* transition: outline 0.5s; */
}

.project:hover{
  outline: 1px solid var(--color-main);
}

.project-img{
  opacity: 1;
  width: 400px;
  transition: opacity 0.5s;
}

.project:hover .project-img{
  opacity: 0;
}

.project-heading{
  position: absolute;
  top: 0%;
  left: 50%;
  opacity: 0;
  text-align: center;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s, top 0.5s;
  white-space: nowrap;
}

.project-heading-main{
  font-family: 'Montserrat Alternates', sans-serif;
  display: block;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.project-heading-sub {
  color: var(--color-main);
  font-size: 1rem;
}

.project:hover .project-heading{
  opacity: 1;
  top: 30%;
}

.project-buttons{
  position: absolute;
  bottom: 0%;
  left: 45%;
  opacity: 0;
  text-align: center;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s, bottom 0.5s;
  white-space: nowrap;
}

.project:hover .project-buttons{
  opacity: 1;
  bottom: 10%;
}

.btn{
  color: var(--color-dark);
  border: 2px solid var(--color-main);
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  width: 40%;
}

.btn:hover{
  background-color: var(--color-main);
  color: var(--color-light);
}

.contact-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.social {
  font-size: 5rem;
}

.social:hover{
  opacity: 0.7;
}

.social-git {
  color: var(--color-main);
}

.social-white {
  color: var(--color-light);
}

.footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  grid-column: full-start /full-end;
  text-align: center;
}

#copyright {
  padding: 2rem;
}

/** animations **/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/** media queries **/
@media (max-width: 900px) {
  .header {
    background-color: var(--color-dark);
    background-image: linear-gradient(rgba(55, 57, 61, 0.5), rgba(55, 57, 61, 0.5)), url(../images/header-img.png);
  }

  .heading-primary-main {
    font-size: 3rem;
    font-weight: 600;
    /* white-space: normal; */
    /* letter-spacing: 2.8rem; */
    animation: moveInLeft 1.5s ease-out;
  }

  .sub-heading-section {
    grid-column: full-start / full-end;
  }

  .content-section {
    grid-column: full-start / full-end;
  }
}

@media (max-width: 600px) {
  .heading-primary-main {
    font-size: 2rem;
  }

  .heading-primary-sub {
    font-size: 1rem;
  }

  .heading-border-box-1 {
    width: 80%;
  }

  .heading-border-box-2 {
    width: 80%;
  }

  .heading-secondary {
    font-size: 1rem;
  }

  .content-section {
    padding: 1rem;
  }

  .projects {
    padding: 1rem;
  }

  .projects-header {
    padding-bottom: 1rem;
  }

  .project-heading-main{
    font-size: 1rem;
  }

  .projects-grid {
    grid-template-columns: repeat(auto-fit,330px);
  }

  .project-img{
    width: 330px;
  }

  .projects-github{
    padding: 1rem;
  }
}
