:root {
  --color-dark: #37393D;
  --color-main: #E9A685;
  --color-light: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat';
}

.container {
  display: grid;
  grid-template-rows: 80vh repeat(4, min-content);
  grid-template-columns: [full-start] minmax(1rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem)[col-end]) [center-end] minmax(1rem, 1fr) [full-end];
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.header {
  background-color: var(--color-dark);
  grid-column: full-start /full-end;
}

h1 {
  color: var(--color-main);
  font-family: 'Montserrat Alternates';
}

h2 {
  color: var(--color-light);
}

.about__header {
  background-color: var(--color-main);
  color: var(--color-light);
  grid-column: center-start / col-end 3;
}

.about__content {
  background-color: var(--color-main);
  color: var(--color-light);
  grid-column: col-start 4 / center-end;
}

.projects {
  background-color: var(--color-white);
  color: var(--color-dark);
  grid-column: center-start / center-end;
}

.contact {
  background-color: var(--color-main);
  color: var(--color-light);
  grid-column: center-start / center-end;
}

.footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  grid-column: full-start /full-end;
}
